# -------------------------
# IDE DIRECTORIES & FILES
# -------------------------

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# -------------------------
# PROJECT FOLDERS TO IGNORE
# -------------------------
data/
lib/
config/

# -------------------------
# MAVEN
# -------------------------
target/

# -------------------------
# LOGS / TEMP FILES
# -------------------------
*.log
*.tmp